<h3>Sub <%= @sub.title %> </h3>

<form action="<%=new_post_url%>" method = "GET">
  <input type="hidden" name="authenticity_token" value ="<%= form_authenticity_token%>">
  <button>Make A New Post</button>
</form>

<% if @sub.moderator_id == current_user.id %>
<form action="<%= edit_sub_url(@sub)%>" method="GET">
  <input type="hidden" name="authenticity_token" value ="<%= form_authenticity_token%>">
  <button>Edit Sub</button>
</form>
<% end %>

